/* HTML: <div class="loader"></div> */
#loader {
  position: absolute;

  width: 180px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffffff 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

#loader.__byhours_loading {
  background: radial-gradient(farthest-side, #ff5800 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ff5800);
}

.__prevent_nowrap_comments {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
